---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import Bill_anron from '../assets/images/Bill_anron.png';
import Borlock from '../assets/images/Borlock.jpeg';
import Shogaroth from '../assets/images/Shogaroth.jpeg';
import SylviaValdeck from '../assets/images/Sylvia_Valdeck.png';
import Remok from '../assets/images/Remok.jpeg';
import Gremnal from '../assets/images/gremnal.jpg';
import MataoAnron from '../assets/images/Matao_anron.png';
import Arkera from '../assets/images/Arkera.png';
import KelinSteelborne from '../assets/images/Kelin_steelborne.png';
import KorumSteelborne from '../assets/images/Korum_Steelborne.png';
import Alexia from '../assets/images/Alexia.png';
import Farah from '../assets/images/Farah.jpeg';
---

<Layout title="Characters">

    <style>
body {
  background-color: #2f3030;
  margin: 0;
  font-family: Arial, sans-serif;
  color: whitesmoke;
}
footer {
    text-align: center;
    margin-top: 50px;
    color: whitesmoke;
}
h1 {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5f5e65, #2f3030);
}

h2, p {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5f5e65, #2f3030);
  margin-left: 30%;
  margin-right: 30%;
}



/* ---------- GRID ---------- */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

/* ---------- IMAGE CARD ---------- */
.container {
  position: relative;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(47, 48, 48, 0.9);
  opacity: 0;
  transition: 0.4s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

    </style>
  <h1>Characters</h1>

<p>Book 1 Main Characters</p>
  <div class="grid">  


  <div class="container">
  <img src={Bill_anron.src} class="image" alt="Bill Anron">
    <div class="overlay"><div class="text">Bill Anron</div></div>
  </div>


  <div class="container">
  <img src={Borlock.src} class="image" alt="Borlock Anron">
    <div class="overlay"><div class="text">Borlock Anron</div></div>
  </div>

  </div>
  <p>Book 1 Supporting Characters</p>
  <div class="grid">


  <div class="container">
    <img src={Shogaroth.src} class="image" alt="King Shogaroth">
    <div class="overlay"><div class="text">King Shogaroth</div></div>
  </div>

  <div class="container">
    <img src={SylviaValdeck.src} class="image" alt="Sylvia Valdeck">
    <div class="overlay"><div class="text">Sylvia Valdeck</div></div>
  </div>

  <div class="container">
    <img src={Remok.src} class="image" alt="Remok">
    <div class="overlay"><div class="text">Remok</div></div>
  </div>

  <div class="container">
    <img src={Gremnal.src} class="image" alt="Gremnal">
    <div class="overlay"><div class="text">Gremnal</div></div>
  </div>

  <div class="container">
    <img src={MataoAnron.src} class="image" alt="Matao Anron">
    <div class="overlay"><div class="text">Matao Anron</div></div>
  </div>

  <div class="container">
    <img src={Arkera.src} class="image" alt="Vector Arkera">
    <div class="overlay"><div class="text">Vector Arkera</div></div>
  </div>


  <div class="container">
    <img src={KelinSteelborne.src} class="image" alt="Kelin Steelborne">
    <div class="overlay"><div class="text">Kelin Steelborne</div></div>
  </div>

  <div class="container">
    <img src={KorumSteelborne.src} class="image" alt="Korum Steelborne">
    <div class="overlay"><div class="text">Korum Steelborne</div></div>
  </div>

<div class="container">
    <img src={Alexia.src} class="image" alt="Alexia Valdeck">
    <div class="overlay"><div class="text">Alexia Valdeck</div></div>
  </div>


  <div class="container">
    <img src={Farah.src} class="image" alt="Farrah">
    <div class="overlay"><div class="text">Farrah</div></div>
  </div>

</div>

<footer>
  <p>Authors:  Nalty Brothers<br>
  <a href="mailto:contact@hexus.com">contact@hexus.com</a></p>

  <p><a href="/aboutus">About Us</a></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">


</script>

</Layout>
